html,
body {
    height: 100%;
    background-color: #F5F8FA;
}

p {
    color: #666666;
}

.reason_box {
    width: 6.9rem;
    height: 100%;
    margin: 0 auto;
    margin-top: 0.2rem;
}

.img_box {
    width: 6.9rem;
}

.img_box p {
    position: absolute;
    color: #FFF;
    left: 45%;
    margin-top: 0.2rem;
}

.top_pic {
    width: 6.9rem;
}

.content_box {
    position: relative;
    top: -0.05rem;

    background-color: #fff;
    padding: 0.28rem 0 0 0.21rem;
}

.textarea {
    background-color: #EBEBEB;
}

.reason_title {

    height: 0.67rem;
    line-height: 0.67rem;
}

.num_box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 6.5rem;
    height: 1rem;
    line-height: 1rem;
    background-color: #FAFAFA;
    border-radius: 0.1rem;
    border: 0.01rem solid #EBEBEB;
}

.num_box span {

    margin-right: 0.35rem;
    color: #666666;
    font-size: 0.28rem;
}

.down {

    opacity: 0.2;
    width: 0.56rem;
    height: 0.36rem;
}

textarea {

    text-indent: 2em;
    background: #FAFAFA;
    border-radius: 0.1rem;
    margin-right: 0.1rem;
    outline: none;
}

.footer {
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    background-color: #fff;
}

.footer p {

    width: 6.9rem;
    height: 0.8rem;
    line-height: 0.8rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    border-radius: 0.4rem;
    color: #FFF;
    background-color: #53A6FA;
}

.out_box {
    padding-bottom: 0.4rem;
}

.text_content {
    width: 6.3rem;
    height: 3rem;

    background-color: #FAFAFA;
    border-radius: 0.1rem;
    border: 0.01rem solid #EBEBEB;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
    text-indent: 0.3rem;
    word-wrap: break-word;
}



























/* 更改状态页面 */

.img_all_box {
    width: 6.5rem;
    height: 100%;
}

.img_add_box {
    display: inline-block;
    margin-right: 0.22rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 0.1rem;
    border: 0.01rem solid #EBEBEB;
}

.add_box {
    border: none;
}

.upload {
    border-radius: 0.1rem;
    width: 1.39rem;
    height: 1.39rem;
}

.add_icon {
    width: 1.33rem;
    height: 1.33rem;
    border: 0.02rem solid #EBEBEB;
    border-radius: 0.1rem;
    margin: 0 auto;
}

.content_box_area {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 0;
    height: 7.5rem;
    flex-direction: column;
}

.pingjiatu {

    margin-left: 0.2rem;
}

.textareass {
    padding-top: 0.2rem;
    margin: 0 auto;
}