 /*<!-- 首页轮播图-->*/

 img {
     width: 100%;
 }

 .container {
     padding-bottom: 1rem;
 }

 .swiper {
     padding-top: 0.16rem;
 }

 .swiper-container {
     margin: 0.16rem 0.24rem;
     box-shadow: 2px 2px 5px #ccc;
 }

 .swiper-pagination-bullet {
     width: 0.08rem;
     height: 0.08rem;
     border-radius: 50%;
 }

 .swiper-slide-top {
     text-align: center;
     font-size: 0.24;
     background: #fff;
     width: 6.7rem;
     height: 2.8rem;
     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     justify-content: center;
 }

 .swiper-pagination {
     position: relative;
 }

 .swiper-pagination span {
     margin: 0 0.1rem;
 }

 .content_head {
     width: 100%;
     text-align: center;
     background-color: transparent;
     border-bottom: 1px solid #EBEBEB;
 }

 .index_decoration {
     margin: 0 auto;
     width: 7.28rem;
     height: 0.24rem;
 }
 /*<!-- 首页选项卡 -->*/

 .select_card {
     border-radius: 0.1rem 0.1rem 0 0;
     margin: 0 auto;
     text-align: center;
 }

 .select_card_list {
     font-size: 0.3rem;
     vertical-align: center;
     display: inline-block;
     width: 1.8rem;
     height: 0.51rem;
     margin: 0 0.92rem;
     line-height: 0.51rem;
     padding: 0.36rem 0 0.36rem 0;
 }

 .select_card_list span {
     vertical-align: middle;
 }

 .select_card_list img {
     width: 0.29rem;
 }

 .lease {
     margin-top: 0.4rem;
     text-align: center;
 }

 .lease_list {
     display: inline-block;
     width: 3.08rem;
     height: 1.2rem;
     background-color: #FAFAFA;
     border-radius: 0.05rem;
     border: 0.01rem solid #EBEBEB;
     margin: 0 0.2rem;
     vertical-align: middle;
 }

 .lease_list span {
     color: #999999;
 }

 .conwrap {
     overflow-x: hidden;
     overflow-y: hidden;
 }

 .lease_list p {
     margin: 0.05rem auto;
 }

 .start_time {
     color: #000;
     font-weight: 600;
     font-size: 0.28rem;
 }

 .end_time {
     color: #999999;
     height: 0.26rem;
     line-height: 0.26rem;
     font-size: 0.24rem;
     vertical-align: middle;
 }

 .join_pic {
     width: 0.26rem;
     height: 0.26rem;
     margin: 0 auto;
     margin-right: 0.2rem;
     vertical-align: middle;
 }

 .end_time span {
     vertical-align: middle;
 }

 .lease_list_box {
     width: 2rem;
     margin: 0 auto;
     text-align: left;
     margin-top: 0.2rem;
 }
 /*<!-- 2-->*/

 .con_title li {
     display: inline-block;
 }

 .con_list {
     padding-left: 0.2rem;
     white-space: nowrap;
     overflow-x: scroll;
 }

 .con_list::-webkit-scrollbar {
     display: none
 }

 .con_title li.con_curr {
     color: #53A6FA;
     border-bottom: 2px solid #53A6FA;
 }

 .con_list li {

     text-align: center;
     display: inline-block;
     width: 1.8rem;
     height: 2.69rem;
     box-shadow: 0.04rem 0.2rem 0.3rem #EBEBEB;
     border-radius: 0.2rem;
     margin: 0.2rem 0.15rem;
     background-color: #fff;
     white-space: nowrap;
 }

 .con_list li img {
     margin-top: 0.2rem;
     width: 0.9rem;
 }

 .con_list li span {
     margin: 0.2rem auto;
     display: block;
     font-size: 0.25rem;
     font-weight: 600;
 }

 .con_list li p {
     color: #CCCCCC;
     font-size: 0.23rem;
 }
 /*<!-- 地理定位-->\*/

 .local_location {
     margin: 0.32rem auto;
     width: 6.6rem;
     height: 0.8rem;
     background-color: #FAFAFA;
     border-radius: 0.05rem;
     border: 0.02rem solid #EBEBEB;
 }

 .local_location p {
     margin: 0.2rem;
     margin-left: 0.41rem;
     display: inline-block;
 }

 .lookup {
     color: #FFFFFF;
     font-size: 0.3rem;
     text-align: center;
     margin: 0.5rem auto;
     width: 6.6rem;
     height: 0.8rem;
     line-height: 0.8rem;
     background-color: #53A6FA;
     border-radius: 0.1rem;
     border: 0.01rem solid #EBEBEB;
 }
 /*<!-- 文本 -->*/

 .paper_box_ul {
     margin: 0.6rem auto;
     width: 6rem;
     height: 1rem;
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;
 }

 .paper_box_list {
     text-align: center;
     width: 2.8rem;
     vertical-align: middle;
     line-height: 1rem;
 }

 .paper_box_list a {
     vertical-align: middle;
     line-height: 1rem;
 }

 .paper_box ul li img {
     vertical-align: middle;
     border-radius: 0.15rem;
     width: 0.3rem;
     margin-right: 0.2rem;
     box-shadow: 0.02rem 0.02rem 0.05rem #ccc;
 }
 /* 插件因素调整 */

 .mainpage_botlist img {
     margin-top: 0.01rem;
 }

 .mainpage_botlist span {
     margin-top: -0.02rem;
 }
 /* 切换 */

 .select_card_list em {
     display: inline-block;
     width: 0.32rem;
     height: 0.32rem;
 }

 .select_card_list em.select_icon1 {
     vertical-align: middle;
     background: url('../images/buy_car.png') no-repeat;
     background-size: 0.3rem 0.3rem;
 }

 .select_card_list em.select_icon2 {
     margin-bottom: -0.07rem;
     vertical-align: middle;
     background: url('../images/33@2x.png') no-repeat;
     background-size: 0.31rem 0.23rem;
 }

 .con_curr em.select_icon1 {
     vertical-align: middle;
     background: url('../images/buy_car_checked.png') no-repeat;
     background-size: 0.3rem 0.3rem;
 }

 .con_curr em.select_icon2 {
     margin-bottom: -0.07rem;
     vertical-align: middle;
     background: url('../images/33@2x_checked.png') no-repeat;
     background-size: 0.31rem 0.23rem;
 }

 .right {
     margin-left: 0.3rem;
 }