 /*<!-- 首页轮播图-->*/
 .swiper {
     padding-top: 0.16rem;
 }

 .swiper-container {
     margin: 0.16rem 0.24rem;
     box-shadow: 2px 2px 5px #ccc;
 }
.swiper-pagination-bullet{
     width:0.08rem;
     height:0.08rem;
     border-radius: 50%;
}
 .swiper-slide-top {
     text-align: center;
     font-size: 0.24;
     background: #fff;
     width:6.7rem;
     height:2.8rem;
     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
 }

 .swiper-pagination {
     position: relative;
 }

 .swiper-pagination span {
     margin: 0 0.1rem;
 }

 .content_head {
     width: 100%;
     text-align: center;
     background-color:transparent;
     border-bottom: 1px solid #999999;
 }
 .index_decoration{
     margin:0 auto;
     width:7.28rem;
     height:0.24rem;
 }
 /*<!-- 首页选项卡 -->*/
 .select_card {
     border-radius: 0.1rem 0.1rem 0 0;
     margin: 0 auto;
     text-align: center;
 }

 .select_card_list{
     font-size: 0.3rem;
     vertical-align: center;
     display: inline-block;
     width: 2.5rem;
     height: 0.51rem;
     margin: 0 auto;
     line-height: 0.51rem;
     padding: 0.36rem 0 0.36rem 0;
 }
  .select_card_list img{
     width:0.29rem;
  }

 .lease {
     margin-top: 0.4rem;
     text-align: center;
 }

 .lease_list {

     display: inline-block;
     width: 3rem;
     height: 1.2rem;
     background-color: #FAFAFA;
     border-radius: 0.05rem;
     border: 0.02rem solid #EBEBEB;
     margin: 0 0.2rem;
 }

 .lease_list span {
     color: #999999;
 }

 .lease_list p {
     margin: 0.2rem auto;
     color: #000;
     font-size: 0.28rem;
     font-weight: 600;
 }

 .lease_list_box {
     width: 2rem;
     margin: 0 auto;
     text-align: left;
     margin-top: 0.2rem;
 }

 /*<!-- 2-->*/
 .con_title li{
     display: inline-block;
}
 .con_list{
     white-space:nowrap; 
     overflow-y: scroll; 
 }
 .con_title li.con_curr{
     color: #53A6FA;
     border-bottom: 2px solid #53A6FA;
 }
 .con_list li{
    
     text-align: center;
     display: inline-block;
     width: 2rem;
     height: 2.69rem;
     box-shadow: 0.04rem 0.2rem 0.3rem #EBEBEB;
     border-radius: 0.2rem;
     margin:0.2rem 0.2rem;
     background-color: #fff;
     white-space:nowrap; 
 }
 .con_list li img{
    margin-top: 0.2rem;
     width:0.9rem;
  
 }
.con_list li span{
     margin:0.2rem auto;
     display: block;
     font-size: 0.25rem;
     font-weight: 600;
}
.con_list li p{
     color:#CCCCCC;
     font-size: 0.23rem;
}

 /*<!-- 地理定位-->\*/
 .local_location {
     margin: 0.32rem auto;
     width: 6rem;
     height: 0.8rem;
     background-color: #FAFAFA;
     border-radius: 0.05rem;
     border: 0.02rem solid #EBEBEB;
 }

 .local_location p {
     margin: 0.2rem;
     display: inline-block;
 }

 .lookup{
     color: #FFFFFF;
     font-size: 0.3rem;
     text-align: center;
     margin: 0.5rem auto;
     width: 6rem;
     height: 0.8rem;
     line-height: 0.8rem;
     background-color: #53A6FA;
     border-radius: 0.1rem;
     border: 0.01rem solid #EBEBEB;
 }

 /*<!-- 文本 -->*/
 .paper_box ul {
     margin: 0.6rem auto;
     width: 6rem;
     height: 1rem;
 }

 .paper_box ul li {
     text-align: center;
     width: 2.8rem;

     line-height: 1rem;
     display: inline-block;
 }

 .paper_box ul li img {
     border-radius: 50%;
     box-shadow: 0.05rem 0.05rem 0.1rem #ccc;
     width: 0.3rem;
 }

 /*<!-- 底部导航 -->*/
 .footer{
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
}
 .bottom_list {
     border-radius: 5px 5px 0 0;
     height: 1.2rem;
     text-align: center;
     background-color: #E9EFF3;
 }

 .mainpage_botlist {

     vertical-align: bottom;
     display: inline-block;
     margin: 0.2rem 0.6rem 0 0.6rem;
 }
 .mainpage_botlist img{
   width:0.5rem;
   height:0.5rem;
 }

 .mainpage_botlist span {
     display: block;
 }



