body {
    background-color: #F5F8FA;
}

.container {
    padding-top: 0.2rem;
}





/* 租赁日期 */

.address_out_box {
    margin: 0 auto;

    width: 7.5rem;
}

.address_in_box {
    background-color: #fff;
    height: 1.55rem;
    width: 6.9rem;
    margin: 0 auto;
    border-bottom: 0.01rem solid #EBEBEB;
}

.del_border {
    border: none;
}

.address_out_box {
    width: 7.5rem;
    background-color: #fff;
}

.user_name {
    display: inline-block;
    padding: 0.34rem 0 0 0;
}

.user_box {
    width: 6.9rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.moren {
    position: absolute;
}

.right_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-top: 0.34rem;
    font-size: 0.28rem;
    color: rgba(0, 0, 0, 0.6);
}

.moren_box {
    width: 0.25rem;
    height: 0.25rem;
    position: relative;
    bottom: -0.05rem;
    margin-bottom: -0.1rem;
    margin-right: 0.08rem;
    vertical-align: middle;
    border-radius: 0.04rem;

    border: 0.02rem solid #53A6FA;
}

.choose_box {
    background-color: #53A6FA;
}

.moren_box img {
    width: 0.18rem;
    height: 0.12rem;
    margin-top: -0.2rem;
    padding-left: 0.04rem;
    vertical-align: middle;
}


.user_address {
    width: 6.9rem;
}

.phone {
    margin-left: 0.41rem;
}

.address_box {
    padding: 0.34rem 0 0.5rem 0;
}

.edit_box {
    float: right;
}

.edit_box img {
    width: 0.34rem;
}

.add_pic {
    padding-right: 0.32rem;
}





/* 底部支付 */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 0.29rem;
    background-color: #fff;
    width: 7.5rem;
    height: 1.6rem;
    line-height: 1rem;
    border-radius: 0.1rem 0.1rem 0 0;
}


.add_address {
    width: 6.59rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    color: #FFF;
    background-color: #53A6FA;
    margin: 0 auto;
    position: relative;
    top: 0.4rem;
    line-height: 0.8rem;
}