/* 商品 */

body {
    background-color: #F5F8FA;
}

.mui_bar {
    height: 0.77rem;
    line-height: 0.77rem;
    background-color: #FFF;
    overflow: hidden;
}

.mui_title {
    font-size: 0.35rem;
    color: #1A1A1A;
    text-align: center;
    margin: 0 0 0 0.45rem;
}

.delete_box {

    position: absolute;
    right: 0.45rem;
    font-size: 0.28rem;
    vertical-align: middle;
    display: inline-block;
}

.del_p {
    color: #53A6FA;
    display: inline-block;
}

.del_img {
    width: 0.25rem;
    height: 0.27rem;
    vertical-align: middle;
    margin-top: -0.06rem;
}


.con_warp {
    background-color: #fff;
    margin: 0 auto;
    margin-top: 0.2rem;
    width: 6.9rem;
    border-radius: 0.1rem;
    box-shadow: 0.08rem 0.08rem 0.2rem rgba(40, 40, 40, 0.16);
}

.con_title {
    text-align: center;
    height: 0.6rem;
    margin-bottom: 0.22rem;
}

.con_list_li {
    border-top: 0.01rem solid #EBEBEB;

    border-bottom: 0.01rem solid #EBEBEB;
}

.check_radio {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    float: left;
    width: 0.38rem;
    height: 0.38rem;
    margin: 0.96rem 0.12rem;
}

.check_radio img {
    width: 0.38rem;
    height: 0.38rem;
}

.check_radio input {
    float: left;
}

.con_list_img {
    margin: 0.2rem 0 0.37rem 0rem;
    display: inline-block;
    width: 1.8rem;
}

.goods_box {
    vertical-align: top;
    margin-left: 0.31rem;
    width: 3.8rem;
    display: inline-block;
}

.goods_title {
    font-size: 0.34rem;
    margin-top: 0.35rem;
}

.goods_content {
    font-size: 0.28rem;
    margin-top: 0.18rem;
    color: #999999;
}

.goods_money {
    font-size: 0.28rem;
    margin-top: 0.32rem;
    font-weight: 600;
    color: #53A6FA;
    display: inline-block;
}

.join img {
    margin: 0;
    width: 0.3rem;
}

.join {

    background-color: #DFEEFC;
    border-radius: 0.05rem;
    float: right;
    margin: 0;
    display: inline-block;
    width: 1.55rem;
    height: 0.3rem;
    margin: 0.37rem 0.5rem 0 0;
}

.join p {
    margin: 0;
    padding: 0;
    margin-top: -0.03rem;
    color: #53A6FA;
    display: inline-block;
    font-size: 0.24rem;
    width: 0.8rem;
    vertical-align: top;
    text-align: center;
}

.add_img {
    float: right;
}












/* 底部支付 */

.zhifu p {
    font-size: 0.3rem;
    display: inline-block;
}

.zhifu {

    position: fixed;
    bottom: 1.2rem;
    width: 100%;
    height: 1rem;
    background-color: #fff;
}

.radio_box {
    display: inline-block;
}

.all_ckeck {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    float: left;
    width: 0.38rem;
    height: 0.38rem;
    margin: 0.26rem 0.12rem;
}

.all_ckeck img {
    width: 0.38rem;
    height: 0.38rem;
}

.radio_box p {
    vertical-align: middle;
    line-height: 1rem;
    font-size: 0.28rem;
    margin-left: 0.1rem;
    display: inline-block;
}

.pay {
    float: right;
    width: 6rem;
}

.pay p {
    line-height: 1rem;
}

.all_price p {
    font-size: 0.28rem;
}

.all_price span {
    font-size: 0.28rem;
    color: #53A6FA;
}

.all_price {
    float: right;
    margin-right: 0.6rem;
}

.to_pay {
    float: right;
    text-align: center;
    width: 2.5rem;
    color: #FFF;
    background-color: #53A6FA;
    margin: 0 auto;
}
