/* 地址管理 */

body {
    background-color: #F5F8FA;
}

.container {
    padding-top: 0.2rem;
}

.address_box {
    background-color: #fff;
    margin: 0 auto;

    width: 6.9rem;
    border-radius: 0.1rem;
    box-shadow: 0.08rem 0.08rem 0.2rem rgba(40, 40, 40, 0.16);
}

.user_box {

    padding-top: 0.39rem;
    margin-left: 0.32rem;
}

.head_img {
    width: 0.32rem;
    display: inline-block;
}

.user_name {
    vertical-align: top;
    margin-left: 0.21rem;
    font-size: 0.26rem;
}

.user_phone {
    vertical-align: top;
    display: inline-block;
    margin-left: 0.41rem;
    margin-top: 0.02rem;
    font-size: 0.24rem;
}

.local_box {
    margin-top: 0.22rem;
    margin-left: 0.32rem;
    padding-bottom: 0.49rem;
}

.location_img {
    width: 0.30rem;
    display: inline-block;
}

.address_content {
    vertical-align: top;
    margin-left: 0.21rem;
    font-size: 0.26rem;
}

.youjiantou {
    float: right;
    margin-top: 0.71rem;
    margin-right: 0.31rem;
    width: 0.24rem;
}



/* 商品 */

.con_warp {
    background-color: #fff;
    margin: 0 auto;
    margin-top: 0.2rem;
    width: 6.9rem;
    border-radius: 0.1rem;
    box-shadow: 0.08rem 0.08rem 0.2rem rgba(40, 40, 40, 0.16);
}

.buy_message {
    width: 6.3rem;
    height: 0.8rem;
    line-height: 0.8rem;
    margin: 0 auto;
    font-size: 0.28rem;
    margin-left: 0.3rem;
    font-weight: 600;
}

.buy_message_top {
    border-bottom: 0.01rem solid #EBEBEB;
}

.buy_message_bot {
    border-top: 0.01rem solid #EBEBEB;
}

.con_title {
    text-align: center;
    height: 0.6rem;
    margin-bottom: 0.22rem;
}

.con_list_img {
    margin: 0.2rem 0 0.37rem 0.2rem;
    display: inline-block;
    width: 1.8rem;
}

.goods_box {
    vertical-align: top;
    margin-left: 0.31rem;
    width: 4.38rem;
    display: inline-block;
}

.goods_title {
    font-size: 0.34rem;
    margin-top: 0.35rem;
}

.goods_content {
    font-size: 0.28rem;
    margin-top: 0.18rem;
    color: #999999;
}

.goods_money {
    font-weight: 600;
    font-size: 0.28rem;
    margin-top: 0.32rem;
    color: #53A6FA;
}

.goods_nums {
    float: right;
    margin: -0.2rem 0.44rem 0 0;
}

.join img {
    margin: 0;
    width: 0.3rem;
}

.join {

    background-color: #DFEEFC;
    border-radius: 0.05rem;
    float: right;
    margin: 0;
    display: inline-block;
    width: 1.55rem;
    height: 0.3rem;
    margin: 0.37rem 0.5rem 0 0;
}

.join p {
    margin: 0;
    padding: 0;
    margin-top: -0.03rem;
    color: #53A6FA;
    display: inline-block;
    font-size: 0.24rem;
    width: 0.8rem;
    vertical-align: top;
    text-align: center;
}

.add_img {
    float: right;
}



/* 配送方式 */

.peisong {
    background-color: #fff;
    margin: 0 auto;
    margin-top: 0.2rem;
    width: 6.9rem;
    border-radius: 0.1rem;
    box-shadow: 0.08rem 0.08rem 0.2rem rgba(40, 40, 40, 0.16);
}

.peisong_box {
    font-size: 0.28rem;
    padding-top: 0.31rem;
    margin-left: 0.32rem;
}

.peisong_box span {
    font-size: 0.25rem;
    margin-right: 0.41rem;
    float: right;
    color: #999999;
}

.beizhu_box {
    font-size: 0.28rem;
    padding-top: 0.6rem;
    margin-left: 0.32rem;
    padding-bottom: 0.3rem;
}

.xiaoji_box {
    width: 6.9rem;
    height: 0.93rem;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0.08rem 0.08rem 0.2rem rgba(40, 40, 40, 0.16);
    border-radius: 0.1rem;
    border-top: 0.01rem solid #EBEBEB;
}

.xiaoji {
    margin-right: 0.39rem;
    float: right;
    line-height: 0.93rem;
    color: #53A6FA;
}



/* 支付方式 */

.zhifu {
    background-color: #fff;
    margin: 0 auto;
    margin-top: 0.2rem;
    width: 6.9rem;
    height: 1.76rem;
    border-radius: 0.1rem;
    box-shadow: 0.08rem 0.08rem 0.2rem rgba(40, 40, 40, 0.16);
}

.pay_method {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.hand {
    width: 0.22rem;
    margin: 0 0.07rem;
}

.method_choose span {
    margin-left: 0.3rem;
    background-color: #53A6FA;
    font-size: 0.22rem;
    width: 1.5rem;
    display: inline-block;
    border-radius: 0.04rem;
    color: #FFF;
}

.wx_pay {
    margin: 0.3rem 0 0 0.3rem;
}

.ali_pay {

    margin: 0.5rem 0 0 0.3rem;
}

.methood_pic {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}

.sure_item {
    width: 0.3rem;
    float: right;
    margin-top: 0.3rem;
    margin-right: 0.4rem;
}

.cancel {
    margin: 0.5rem 0.4rem 0 0;
}





/* 底部支付 */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;

    background-color: #fff;
    width: 7.5rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 0.1rem 0.1rem 0 0;
}

.buycar_box {
    float: left;
    border-radius: 0.1rem 0 0 0;
}

.buycar_box p {
    margin-left: 0.61rem;
    font-size: 0.3rem;
    display: inline-block;
}

.buycar_box span {
    margin-left: 0.24rem;
    font-size: 0.3rem;
    color: #53A6FA;
}

.footer_buycar {
    float: right;
    width: 2.3rem;
    color: #fff;
    font-size: 0.3rem;
    background-color: #53A6FA;
    border-radius: 0 0.1rem 0 0;
}