body {
    background-color: #F9FDFD;
}



























/* 选项卡 */

.select_card {
    width: 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.1rem 0.1rem 0 0;
}

.select_card_list {
    font-size: 0.28rem;
    color: #999999;
    margin: 0 auto;
    margin-top: 0.36rem;
    padding-bottom: 0.36rem;
    vertical-align: middle;
    display: inline-block;
}

.con_title {
    width: 100%;
    margin: 0 auto;
}

.con_title li.con_curr {
    border-radius: 0.1rem 0.1rem 0 0;
    color: #53A6FA;
    border-bottom: 0.01rem solid #53A6FA;
}

.con_title li p {
    vertical-align: middle;
    font-size: 0.28rem;
    display: inline-block;
}

.select_card_list em {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.1rem;
}

.select_card_list em.select_icon1 {
    vertical-align: middle;
    background: url('../../images/myorder2.png') no-repeat;
    background-size: 0.26rem 0.3rem;
}

.select_card_list em.select_icon2 {
    vertical-align: middle;
    background: url('../../images/myorder4.png') no-repeat;
    background-size: 0.26rem 0.3rem;
}

.con_curr em.select_icon1 {
    vertical-align: middle;
    background: url('../../images/myorder1.png') no-repeat;
    background-size: 0.26rem 0.3rem;
}

.con_curr em.select_icon2 {
    vertical-align: middle;
    background: url('../../images/myorder3.png') no-repeat;
    background-size: 0.26rem 0.3rem;
}



























/*     搜索框 */

.mid_box {
    padding: 0.25rem 0 0 0;
    background-color: #fff;
}

.category_search_box {
    margin: 0 auto;
    margin-bottom: 0.25rem;
    text-align: center;
    border-radius: 0.1rem;
    width: 6.7rem;
    height: 0.6rem;
    background-color: #F5F5F5;
}

.category_search_input {
    text-align: center;
    line-height: 0.6rem;
    margin-left: 0.3rem;
}

.category_search_icon {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    float: right;
    margin: 0.15rem auto;
    padding-right: 0.25rem;
}

input::-webkit-input-placeholder {
    color: #CCCCCC;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #CCCCCC;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #CCCCCC;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #CCCCCC;
}



























/* 第二层选项卡 */

.status_box {
    width: 6.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orderstatus_list_item {
    width: 1rem;
    margin: 0 auto;
    margin-bottom: 0.25rem;
    display: inline-block;
}

li.select_item {
    color: #53A6FA;
}



























/* 商品 */

.order_product_box {
    background-color: #fff;
    margin: 0 auto;
    margin-top: 0.2rem;
    width: 6.9rem;

    border-radius: 0.1rem;
    box-shadow: 0.08rem 0.08rem 0.2rem rgba(40, 40, 40, 0.16);
}

.top_orderstatus_box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.28rem;
}

.top_orderstatus {
    margin-right: 0.2rem;
    color: #53A6FA;
}

.buy_message {
    font-size: 0.28rem;
    margin-left: 0.3rem;
}

.real_pay {
    font-size: 0.24rem;
}

.pay_box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    height: 0.6rem;
    line-height: 0.6rem;
    margin-top: 0.1rem;
    font-weight: 400;
    margin-right: 0.2rem;
}

.pay_box p {
    text-align: center;

    width: 1.2rem;
    margin: 0 0.2rem;
    font-size: 0.24rem;
    border-radius: 0.38rem;
    padding: 0 0.1rem 0 0.1rem;
}

.choose_item {
    border: 1px solid #CCC;
}

.pay_box p.choose {
    color: #fff;
    border: none;
    background-color: #53A6FA;
}

.con_list_li {
    margin: 0 0.1rem;
    background-color: #F9F7F7;
}

.con_list_img {
    margin: 0.1rem 0 0.1rem 0.1rem;
    display: inline-block;
    width: 1.8rem;
}

.goods_box {
    position: absolute;
    width: 5rem;
    vertical-align: top;
    margin-left: 0.37rem;
    display: inline-block;
}

.goods_nums {

    position: absolute;
    right: 1rem;
    top: 0.28rem;
    float: right;
    color: #999999;
}

.goods_title {
    font-size: 0.3rem;
    margin-top: 0.22rem;
}

.goods_content {
    display: inline-block;
    font-size: 0.24rem;
    padding-top: 0.2rem;
    color: #999999;
}

.goods_money {
    font-size: 0.28rem;
    margin-top: 0.32rem;
    color: #53A6FA;
}

.goods_time {
    position: absolute;
    left: 1.5rem;
    font-size: 0.19rem;
    color: #999999;
}

.join img {
    margin: 0;
    width: 0.31rem;
}

.join {
    background-color: #fff;
    float: right;
    margin: 0;
    background-color: #DFEEFC;
    display: inline-block;
    width: 1.55rem;
    height: 0.31rem;
    margin: 0.27rem 0.7rem 0 0;
}

.join p {
    margin: 0;
    padding: 0;
    margin-top: -0.03rem;
    color: #53A6FA;
    display: inline-block;
    font-size: 0.24rem;
    width: 0.8rem;
    vertical-align: top;
    text-align: center;
}

.add_img {
    float: right;
}



































































/* 积分使用记录 */

.list_box {
    margin: 0 auto;
    border-radius: 0.1rem;
    background-color: #fff;
    box-shadow: 0px 8px 8px 2px rgba(6, 4, 41, 0.03);
    width: 6.9rem;
    margin-top: 0.2rem;
}

.list_box img {
    width: 6.9rem;
    height: 4rem;
}

.list_item {
    height: 1.25rem;
    width: 6.7rem;
    border-bottom: 1px solid #EBEBEB;
}

.list_left {

    font-size: 0.28rem;
    margin-top: 0.34rem;
    margin-left: 0.46rem;
    line-height: 0.7rem;
}

.use_date {
    color: #CCCCCC;
    font-size: 0.28rem;

    margin-left: 0.46rem;
}

.add_num {
    float: right;
    position: relative;
    top: -50%;
    right: 0.5rem;
}