html,
body {
    height: 100%;
    background-color: #F5F8FA;
}

.select_card {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 7.5rem;
    height: 1rem;
    background-color: #fff;
}

.select_list {
    font-size: 0.26rem;
    margin: 0 auto;
    line-height: 1rem;
}

.choose {
    color: #53A6FA;
    border-bottom: 0.02rem solid #53A6FA;
}


















/* 商品 */


/* 商品 */

.top_orderstatus_box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 6.5rem;
    height: 0.8rem;
    margin: 0 auto;
    line-height: 0.8rem;
    font-size: 0.28rem;
    border-bottom: 0.01rem solid #EBEBEB;
}

.top_orderstatus {

    color: #53A6FA;
}

.con_warp {
    background-color: #fff;
    margin: 0 auto;
    margin-top: 0.2rem;
    width: 6.9rem;
    border-radius: 0.1rem;
    box-shadow: 0.08rem 0.08rem 0.2rem rgba(40, 40, 40, 0.16);
}

.buy_message {
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.28rem;
}

.con_title {
    text-align: center;
    height: 0.6rem;
    margin-bottom: 0.22rem;
}

.con_list_img {
    margin: 0.2rem 0 0.37rem 0.2rem;
    display: inline-block;
    width: 1.8rem;
}

.goods_box {
    vertical-align: top;
    margin-left: 0.31rem;
    width: 4.38rem;
    display: inline-block;
}

.goods_title {
    font-size: 0.3rem;
    margin-top: 0.28rem;
}

.goods_content {
    font-size: 0.24rem;
    margin-top: 0.18rem;
    color: #999999;
}

.goods_money {
    font-size: 0.28rem;
    margin-top: 0.32rem;
    font-weight: 600;
    color: #53A6FA;
}

.goods_nums {
    float: right;

    text-align: center;
    color: #666666;
}

.import_pic {
    width: 0.56rem;
}

.pos_box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 0.2rem;
    justify-content: space-between;
}

.change_status {
    width: 1rem;
}