html,
body {
    height: 100%;
    background: url('../../images/personal_center.png');
    background-size: 7.5rem 4rem;
    background-repeat: no-repeat;
    background-color: #F5F8FA;
}

.head_box {
    text-align: center;
    margin: 0 auto;
    padding-top: 0.55rem;
}

.dayang_text {
    position: absolute;
    left: 40%;
    right: 50%;
    top: 0.25rem;
    color: #FFF;
    width: 1rem;
}

.pic_box {
    width: 1.16rem;
    height: 1.16rem;
    border: 0.09rem solid #5BBDFC;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 0.21rem;
}

.head_pic {
    margin: 0;
    width: 1.16rem;
}

.user_name {
    color: #FFF;
    font-size: 0.28rem;
}

.kaiye {
    color: #FFF;
    margin: 0.3rem 0 0.1rem 0;
    font-weight: 600;
}






/* 列表项 */

.list_box {
    margin: 0 auto;
    border-radius: 0.1rem;
    background-color: #fff;
    box-shadow: 0px 8px 8px 2px rgba(6, 4, 41, 0.03);
    width: 6.9rem;
    margin-top: 1.3rem;
}

.list_item {
    vertical-align: middle;
    height: 0.95rem;
    width: 6.5rem;
    margin: 0 auto;
    border-bottom: 1px solid #EBEBEB;
}

.my_wallet {
    border-bottom: 0px solid #EBEBEB;
}

.list_item span {

    line-height: 0.95rem;
}

.list_left {}

.list_left img {
    margin-bottom: -0.04rem;
    margin-right: 0.22rem;
}

.gold {
    width: 0.33rem;
}

.wallet {
    width: 0.27rem;
}

.list_right {
    float: right;
    margin-right: 0.15rem;
    color: #999999;
}

.list_right img {
    width: 0.15rem;
    margin: 0 0.1rem;
}

.bot_box {
    width: 4.89rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0.4rem;
    margin: 0 auto;
    text-align: center;
}

.dayang {
    width: 4.88rem;
    height: 0.98rem;
    margin: 0 auto;
    text-align: center;
}